@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Trirong&display=swap');

* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: rgb(255, 255, 255);
}

body {
  background-color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
}

.navbar h1 {
  color: rgb(255, 1, 1);
}

.navbar .links {

  margin-left: auto;

}

.navbar a {
  margin: left 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: rgb(255, 1, 1);
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview {
  padding: 10px 6px;
  margin: 0;
  border-bottom: 1px solid gray;
  margin: 10px;
  border-radius: 10px;

}

.blog-preview:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.blog-preview h2 {
  font-size: 20px;
  color: rgb(255, 1, 1);
  margin-bottom: 8px;
}

.blog-preview p {
  color: aliceblue;
}